@use "sass:math";
@use "../foundation/mixin";

.util{
  // font ---------------------------------
  strong,
  em,
  span,
  b,
  sup{
    //color: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
  }
  .colorAlert{
    color: var(--alert-color);
  }
  .bold{
    font-weight: bold;
  }

  // size：10px〜72px
  @for $i from 1 through 63 {
    .fsize#{ $i + 9 }{
      font-size: 0.5675 + mixin.round-decimal( $i * 0.0625, 4) + rem !important;
    }
  }

  .italic{
    font-style: italic !important;
  }

  .lh10{
    line-height: 1 !important;
  }
  .lh11{
    line-height: 1.1 !important;
  }
  .lh12{
    line-height: 1.2 !important;
  }
  .lh13{
    line-height: 1.3 !important;
  }
  .lh14{
    line-height: 1.4 !important;
  }
  .lh15{
    line-height: 1.5 !important;
  }
  .lh16{
    line-height: 1.6 !important;
  }
  .lh17{
    line-height: 1.7 !important;
  }
  .lh18{
    line-height: 1.8 !important;
  }
  .lh19{
    line-height: 1.9 !important;
  }
  .lh20{
    line-height: 2 !important;
  }
  .lh21{
    line-height: 2.1 !important;
  }
  .lh22{
    line-height: 2.2 !important;
  }

  .code{
    display: inline-block;
    vertical-align: baseline;
    background: #f4f4f4;
    border-radius: 3px;
    padding-left: .2em;
    padding-right: .2em;
    margin-left: .2em;
    margin-right: .2em;
    line-height: 1.2;
    text-indent: 0;
  }


  // ※ * 右上 ---------------------------------
  .supTxt{
    font-size: var(--fsize10);
    vertical-align: top;
    position: relative;
    top: 0;
  }

  // head ---------------------------------
  .head{
    // 18px/24px/30px/36px/42px/48px
    @for $i from 1 through 6 {
      $x: $i * 6;
      &0#{$i}{
        font-size: 0.755 + mixin.round-decimal( $x * 0.0625, 4) + rem;
        line-height: 1.4;
        font-weight: bold;
        position: relative;

        &.-underLine{
          border-bottom: 2px solid #eaeaea;
        }
    
        &.-dot{
          padding-left: 24px;
    
          &:before{
            content: '';
            width: 14px;
            height: 14px;
            position: absolute;
            background-color: #000;
            border-radius: 50%;
            left: 2px;
            top: calc( 50% - 7px );
          }
        }
      }
    }
  }
}


@media screen and (max-width: mixin.$bpSp){
  .util{
    // font ---------------------------------
    @for $i from 1 through 63 {
      .fsize#{ $i + 9 }{
        $i: $i + 9;
        font-size: mixin.px-to-vw(2px * $i, 767px) !important;
      }
    }

    // head ---------------------------------
    .head{
      // 36px/42px/48px/54px/60px/66px
      @for $i from 1 through 6 {
        $x: $i * 6;
        &0#{$i}{
          $y: 30 + $x;
          font-size: mixin.px-to-vw(1px * $y, 767px) !important;
      
          &.-dot{
            padding-left: mixin.px-to-vw(40px, 767px);
      
            &:before{
              width: mixin.px-to-vw(24px, 767px);
              height: mixin.px-to-vw(24px, 767px);
              left: mixin.px-to-vw(2px, 767px);
              top: calc( 50% - mixin.px-to-vw(14px, 767px) );
            }
          }
        }
      }
    }
  }
}