@use "sass:math";
@use "../foundation/mixin";

/*  loader
------------------------------------------------*/
@keyframes fade_out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}

@keyframes slide {
  0% {
    width: 80px;
    left: calc( 50% - 40px );
  }
  25% {
    width: 16px;
    left: calc( 50% - 40px );
  }
  50% {
    width: 80px;
    left: calc( 50% - 40px );
  }
  75% {
    width: 16px;
    left: calc( 50% + 24px );
  }
  100% {
    width: 80px;
    left: calc( 50% - 40px );
  }
}

@keyframes gear1 {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
  42.5% {
    transform: translateX(0) translateY(0) rotate(-360deg) scale(1);
  }
  46.25% {
    transform: translateX(-4px) translateY(24px) rotate(-360deg) scale(1.4);
  }
  50% {
    transform: translateX(24px) translateY(24px) rotate(-360deg) scale(1);
  }
  92.75% {
    transform: translateX(24px) translateY(24px) rotate(0deg) scale(1);
  }
  96.5% {
    transform: translateX(24px) translateY(-4px) rotate(0deg) scale(1.4);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes gear2 {
  0% {
    transform: translateX(0) translateY(0)  rotate(0deg) scale(1);
  }
  42.5% {
    transform: translateX(0) translateY(0) rotate(360deg) scale(1);
  }
  46.25% {
    transform: translateX(4px) translateY(-24px) rotate(0deg) scale(1.4);
  }
  50% {
    transform: translateX(-24px) translateY(-24px) rotate(360deg) scale(1);
  }
  92.75% {
    transform: translateX(-24px) translateY(-24px) rotate(0) scale(1);
  }
  96.5% {
    transform: translateX(-24px) translateY(4px) rotate(360deg) scale(1.4);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes ball1 {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes ball2 {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes ball3 {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0;
  }
  30% {
    transform: translateY(-20px);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.loader{
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 12;

  &.-rotateCirc{
    .ico{
      width: 80px;
      height: 80px;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 40px );
      animation: rotate 1.6s var(--easeOutCubic) infinite;

      .circ{
        fill: none;
        stroke: #999;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 8px;
        stroke-dasharray: 240px;
        animation: stroke 1.6s var(--easeOutCubic) infinite;
      }
    }
    
    &:before{
      content: '';
      width: 78px;
      height: 78px;
      border-radius: 50%;
      border: 4px solid #fff;
      box-sizing: border-box;
      position: absolute;
      left: calc( 50% - 39px );
      top: calc( 50% - 39px );
    }
  }

  &.-slideBar{
    .bar{
      width: 80px;
      height: 8px;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 4px );
      border-radius: 4px;
      background: #999;
      animation: slide 1.6s var(--easeOutCubic) infinite;
    }
    
    &:before{
      content: '';
      width: 80px;
      height: 4px;
      border-radius: 2px;
      background: #fff;
      //border: 4px solid #fff;
      box-sizing: border-box;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 2px );
    }
  }

  &.-gear{
    .ico{
      width: 80px;
      height: 80px;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 40px );
    }

    .gear1{
      width: 30px;
      height: 30px;
      position: absolute;
      left: 13px;
      top: 13px;
      fill: #999;
      animation: 3s linear infinite gear1;
      z-index: 1;
      backface-visibility: hidden;
    }
    .gear2{
      width: 30px;
      height: 30px;
      position: absolute;
      right: 13px;
      bottom: 13px;
      fill: #999;
      animation: 3s linear infinite gear2;
      z-index: 1;
    }
    .gear3{
      width: 60px;
      height: 60px;
      position: absolute;
      left: calc( 50% - 14px );
      top: calc( 50% - 48px );
      fill: #fff;
      animation: 6s linear infinite rotate;
    }
  }

  &.-ball{
    .ico{
      width: 80px;
      height: 80px;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 40px );

      div{
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        background: #fff;
        top: calc( 50% - 5px );

        &:before{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: 50%;
          background: #999;
          left: 0;
          top: 0;
        }
  
        &:nth-child(1){
          left: calc( 50% - 30px );
          &:before{
            animation: 1.4s var(--easeOutCubic) infinite ball1;
          }
        }

        &:nth-child(2){
          left: calc( 50% - 5px );
          &:before{
            animation: 1.4s var(--easeOutCubic) infinite ball2;
          }
        }

        &:nth-child(3){
          left: calc( 50% + 20px );
          &:before{
            animation: 1.4s var(--easeOutCubic) infinite ball3;
          }
        }
      }
    }
  }

  &.fo{
    animation: .3s cubic-bezier(.15,.29,.62,.99) both;
    animation-name: fade_out;
  }

  &.hdn:before{
    &.-rotateCirc{
      .ico{
        animation: none;

        .circ{
          animation: none;
        }
      }
    }
  }
}


@media screen and (max-width: mixin.$bpSp){
}