@charset "utf-8";
/*============================================================
  reset
============================================================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
  display: block;
}

h1, h2, h3, h4, h5, h6 {  
  font-weight: normal;  
  font-size: 100%;  
}  

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000; 
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  border: 0;   
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  outline: none;
  vertical-align: middle;
}

html:not(.ios) input[type="radio"] {
  background: none;
  border: none;
  border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
input[type="button"] {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  vertical-align: middle;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

button {
  display: block;
  border: none;
  border-radius: 0;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 100%;
  height: auto;
  //ie8で縮小画像劣化させない
  -ms-interpolation-mode: bicubic;
}

strong, em, b, i, small, address {
  font-weight: normal;
  font-style: normal;
}

main {
  display: block;
}

// ie独自仕様を非表示（入力欄右側に出るもの）
/* text */
input::-ms-clear {
	visibility: hidden;
}
/* password */
input::-ms-reveal {
	visibility: hidden;
}

/* テキストエリアのりサイズ縦のみ可 */
textarea {
	resize: vertical;
}