/*============================================================
  common
============================================================*/
@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/NotoSansCJKjp-Regular.woff") format("woff"), url("fonts/NotoSansCJKjp-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: 700;
  font-style: bold;
  src: url("fonts/NotoSansCJKjp-Bold.woff") format("woff"), url("fonts/NotoSansCJKjp-Bold.eot") format("eot");
  font-display: swap;
}
html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: var(--fontset_noto);
}
@media (min-width: 1400px) {
  html {
    font-size: 1.1428571429vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 2.0860495437vw;
  }
}

body {
  color: #000000;
  width: 100%;
  height: 100%;
  line-height: 1.6;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
body.fixed {
  position: fixed;
}
body.absolute {
  position: absolute;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide.-num1 {
  background: #ffb1b1;
}
.swiper-slide.-num2 {
  background: #b0ffc4;
}
.swiper-slide.-num3 {
  background: #b0d0ff;
}

.swiper-play {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  z-index: 10;
}
.swiper-play:before {
  content: "";
  background-color: #000;
  height: 10px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  width: 8.6602540378px;
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
}
.swiper-play.-paused:before {
  content: "";
  clip-path: none;
  width: 4px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: calc(50% - 5px);
  background: #000;
}
.swiper-play.-paused:after {
  content: "";
  width: 4px;
  height: 10px;
  position: absolute;
  right: 5px;
  top: calc(50% - 5px);
  background: #000;
}

.swiper-pause {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 10;
}
.swiper-pause:before {
  content: "";
  width: 4px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: calc(50% - 5px);
  background: #000;
}
.swiper-pause:after {
  content: "";
  width: 4px;
  height: 10px;
  position: absolute;
  right: 5px;
  top: calc(50% - 5px);
  background: #000;
}