.parts {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  height: 50vh;
  padding-top: 20vh;
  font-size: 3vw;
}

.bg {
  width: 100%;
  height: 0;
  box-sizing: border-box;
  padding-top: 50%;
  position: relative;
  margin: 0 auto;
}

.bg_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.bg_img::-webkit-scrollbar {
  display: none;
}
.bg_img > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 530%;
  height: 100%;
  font-size: 0;
}
.bg_img > img:first-child {
  z-index: 2;
}

.lottieSample {
  width: 28vw;
  height: auto;
  position: absolute;
  left: 40vw;
  top: 10vw;
  z-index: 1;
}