.map_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.map {
  width: 300px;
  height: 300px;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.map iframe .leaflet-left {
  display: none !important;
}