.wrap {
  width: 100%;
  margin: 0 auto;
}

.modal_1,
.modal_2 {
  width: 768px;
  height: 600px;
  max-width: none;
}

code {
  border-radius: var(--radius1);
  max-height: 200px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
code::-webkit-scrollbar {
  display: none;
}

.util {
  position: relative;
}
.util nav {
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
  padding: 20px 40px 0 0;
}
.util .ptop {
  position: fixed;
  bottom: 20px;
  right: 40px;
}

@media screen and (max-width: 1280px) {
  .util .inner {
    margin: 0 0 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .modal_1,
  .modal_2 {
    width: 90%;
  }
  .util .inner {
    margin: 0 auto;
  }
  .util nav {
    display: none;
  }
  .util .ptop {
    display: none;
  }
}