@use "mixin";
@use "variable";
@use "reset";
@use "util";
@use "modal";

/*============================================================
  common
============================================================*/


/*  web font
------------------------------------------------*/
// CDNにて読み込み
// fontawesome
//@import url(//use.fontawesome.com/releases/v5.1.0/css/all.css);
// Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=REM:wght@400;700&display=swap');

// サーバー設置から読み込み
// NotoSansJP
/*
@font-face {
  font-family: 'Noto Sans Japanese';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/NotoSansCJKjp-Regular.woff2') format('woff2'),
    url('fonts/NotoSansCJKjp-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-weight: 700;
  font-style: bold;
  src: url('fonts/NotoSansCJKjp-Bold.woff2') format('woff2'),
    url('fonts/NotoSansCJKjp-Bold.woff') format('woff');
  font-display: swap;
}
*/


html {
  width: 100%;
  height: 100%;
  //overflow-y: scroll;
  font-size: 100%;
  font-family: var(--fontset_noto);

  // iOS15用：ここから
  &.ios{
    height: 100vh;
  }
  // iOS15用：ここまで
}
body {
  font-feature-mixins: 'palt' 1;
  color: var(--txt-color);
  width: 100%;
  height: 100%;
  line-height: 1.8;
  text-align: center;
  //font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.05em;

  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  &.fixed{
    position: fixed;
    overflow-y: hidden;
  }
  &.absolute{
    position: absolute;
  }
}

.rem{
  font-family: 'REM';
}

html:not(.ios) input[type=radio] {
  background: none;
  border: none;
  border-radius: 0;
}

/*  a
------------------------------------------------*/
a {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);

  &:link { text-decoration: none;}
  &:visited {
    color: var(--linkVisited-color);
    text-decoration: none;
  }
  &:focus { text-decoration: none;}
  &:active { text-decoration: none;}
  
  &[href^="tel"]{
    color: inherit;
  }

  @media (any-hover: hover){
    &:hover { text-decoration: underline; }
  }
}

@media (any-hover: hover){
  .hover{
    transition: opacity .3s;

    &:hover{
      opacity: .7;
    }
  }
}


/*  img
------------------------------------------------*/
.imgOuter{
  font-size: 0;
  line-height: 0;

  img{
    width: 100%;
    height: auto;
  }

  &.-height{
    img{
      height: 100%;
      width: auto;
    }
  }
}


/*  loader
------------------------------------------------*/
@keyframes fade_out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}

@keyframes slide {
  0% {
    width: 80px;
    left: calc( 50% - 40px );
  }
  25% {
    width: 16px;
    left: calc( 50% - 40px );
  }
  50% {
    width: 80px;
    left: calc( 50% - 40px );
  }
  75% {
    width: 16px;
    left: calc( 50% + 24px );
  }
  100% {
    width: 80px;
    left: calc( 50% - 40px );
  }
}

@keyframes gear1 {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
  42.5% {
    transform: translateX(0) translateY(0) rotate(-360deg) scale(1);
  }
  46.25% {
    transform: translateX(-4px) translateY(24px) rotate(-360deg) scale(1.4);
  }
  50% {
    transform: translateX(24px) translateY(24px) rotate(-360deg) scale(1);
  }
  92.75% {
    transform: translateX(24px) translateY(24px) rotate(0deg) scale(1);
  }
  96.5% {
    transform: translateX(24px) translateY(-4px) rotate(0deg) scale(1.4);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes gear2 {
  0% {
    transform: translateX(0) translateY(0)  rotate(0deg) scale(1);
  }
  42.5% {
    transform: translateX(0) translateY(0) rotate(360deg) scale(1);
  }
  46.25% {
    transform: translateX(4px) translateY(-24px) rotate(0deg) scale(1.4);
  }
  50% {
    transform: translateX(-24px) translateY(-24px) rotate(360deg) scale(1);
  }
  92.75% {
    transform: translateX(-24px) translateY(-24px) rotate(0) scale(1);
  }
  96.5% {
    transform: translateX(-24px) translateY(4px) rotate(360deg) scale(1.4);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes ball1 {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes ball2 {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes ball3 {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0;
  }
  30% {
    transform: translateY(-20px);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.loader{
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 12;

  &.-rotateCirc{
    .ico{
      width: 80px;
      height: 80px;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 40px );
      animation: rotate 1.6s var(--easeOutCubic) infinite;

      .circ{
        fill: none;
        stroke: #999;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 8px;
        stroke-dasharray: 240px;
        animation: stroke 1.6s var(--easeOutCubic) infinite;
      }
    }
    
    &:before{
      content: '';
      width: 78px;
      height: 78px;
      border-radius: 50%;
      border: 4px solid #fff;
      box-sizing: border-box;
      position: absolute;
      left: calc( 50% - 39px );
      top: calc( 50% - 39px );
    }
  }

  &.-slideBar{
    .bar{
      width: 80px;
      height: 8px;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 4px );
      border-radius: 4px;
      background: #999;
      animation: slide 1.6s var(--easeOutCubic) infinite;
    }
    
    &:before{
      content: '';
      width: 80px;
      height: 4px;
      border-radius: 2px;
      background: #fff;
      //border: 4px solid #fff;
      box-sizing: border-box;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 2px );
    }
  }

  &.-gear{
    .ico{
      width: 80px;
      height: 80px;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 40px );
    }

    .gear1{
      width: 30px;
      height: 30px;
      position: absolute;
      left: 13px;
      top: 13px;
      fill: #999;
      animation: 3s linear infinite gear1;
      z-index: 1;
      backface-visibility: hidden;
    }
    .gear2{
      width: 30px;
      height: 30px;
      position: absolute;
      right: 13px;
      bottom: 13px;
      fill: #999;
      animation: 3s linear infinite gear2;
      z-index: 1;
    }
    .gear3{
      width: 60px;
      height: 60px;
      position: absolute;
      left: calc( 50% - 14px );
      top: calc( 50% - 48px );
      fill: #fff;
      animation: 6s linear infinite rotate;
    }
  }

  &.-ball{
    .ico{
      width: 80px;
      height: 80px;
      position: absolute;
      left: calc( 50% - 40px );
      top: calc( 50% - 40px );

      div{
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        background: #fff;
        top: calc( 50% - 5px );

        &:before{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: 50%;
          background: #999;
          left: 0;
          top: 0;
        }
  
        &:nth-child(1){
          left: calc( 50% - 30px );
          &:before{
            animation: 1.4s var(--easeOutCubic) infinite ball1;
          }
        }

        &:nth-child(2){
          left: calc( 50% - 5px );
          &:before{
            animation: 1.4s var(--easeOutCubic) infinite ball2;
          }
        }

        &:nth-child(3){
          left: calc( 50% + 20px );
          &:before{
            animation: 1.4s var(--easeOutCubic) infinite ball3;
          }
        }
      }
    }
  }

  &.fo{
    animation: .3s cubic-bezier(.15,.29,.62,.99) both;
    animation-name: fade_out;
  }

  &.hdn:before{
    &.-rotateCirc{
      .ico{
        animation: none;

        .circ{
          animation: none;
        }
      }
    }
  }
}


/* マウス追従カーソル
------------------------------------------------*/
#crsl{
  width: 8px;
  height: 8px;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  background: rgba(0,0,0,.2);
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  transition: transform .3s var(--easeOutQuad),
    top .5s var(--easeOutQuad),
    left .5s var(--easeOutQuad),
    width .5s var(--easeOutQuad),
    height .5s var(--easeOutQuad),
    opacity .5s var(--easeOutQuad);

  &.areaOnly{
    opacity: 0;
    &.over{
      opacity: 1;
    }
  }

  &.over{
    width: 16px;
    height: 16px;
    top: -8px;
    left: -8px;
    background: rgba(255, 0, 0, 0.2);
  }
}


/*  br
------------------------------------------------*/
br.pc{
  display: inline !important;
}

br.pcTab{
  display: inline !important;
}

br.tabSp{
  display: none !important;
}

br.sp{
  display: none !important;
}

br.spS{
  display: none !important;
}

@media screen and (max-width: mixin.$bpTab) {
  br.pc{
    display: none !important;
  }
  
  br.pcTab{
    display: inline !important;
  }
  
  br.tabSp{
    display: inline !important;
  }
  
  br.sp{
    display: none !important;
  }
  
  br.spS{
    display: none !important;
  }
}

@media screen and (max-width: mixin.$bpSp) {
  br.pc{
    display: none !important;
  }
  
  br.pcTab{
    display: none !important;
  }
  
  br.tabSp{
    display: inline !important;
  }
  
  br.sp{
    display: inline !important;
  }
  
  br.spS{
    display: none !important;
  }
}

@media screen and (max-width: mixin.$bpSpS) {
  br.spS{
    display: inline !important;
  }
}


/*  hidden
------------------------------------------------*/
.hdn{
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}