@use "sass:math";
@use "sass:meta";
// 画像パス
$imgPath : "/imagges/";

// フォントファミリー
// NotoSansを使用する場合
$fontset_noto:"Noto Sans Japanese",-apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
// 最新ゴシック-游ゴシック
$fontset1:-apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
// 旧ゴシック
$fontset2:'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3',Meiryo,メイリオ,Osaka,sans-serif;
// 旧ゴシック-シンプル
$fontset3:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
// 英ゴシック-var1
$fontset4:'Helvetica Neue',Helvetica,Arial,sans-serif;
// 英ゴシック-var2
$fontset5:Verdana,Geneva,sans-serif;
// 英-等幅
$fontset6:'Courier New',Courier,monospace;
// 最新明朝-游明朝
$fontset7:'Times New Roman','游明朝',YuMincho,'ヒラギノ明朝 ProN W3','Hiragino Mincho ProN',HG明朝E,'ＭＳ Ｐ明朝','ＭＳ 明朝',serif;
// 旧明朝
$fontset8:'Times New Roman','ヒラギノ明朝 Pro W3','Hiragino Mincho Pro',HG明朝E,'ＭＳ Ｐ明朝','ＭＳ 明朝',serif;
// 英明朝-var1
$fontset9:'Times New Roman',Times,serif;
// 英明朝-var2
$fontset10:Georgia,'Times New Roman',Times,serif;


// フォントサイズ
$px8:0.5rem;
$px9:0.56rem;
$px10:0.63rem;
$px11:0.69rem;
$px12:0.75rem;
$px13:0.82rem;
$px14:0.88rem;
$px15:0.94rem;
$px16:1rem;
$px17:1.07rem;
$px18:1.13rem;
$px19:1.19rem;
$px20:1.25rem;
$px21:1.32rem;
$px22:1.38rem;
$px23:1.44rem;
$px24:1.50rem;
$px25:1.57rem;
$px26:1.63rem;
$px27:1.69rem;
$px28:1.75rem;
$px29:1.82rem;
$px30:1.88rem;
$px31:1.94rem;
$px32:2rem;
$px33:2.07rem;
$px34:2.13rem;
$px35:2.19rem;
$px36:2.25rem;
$px37:2.32rem;
$px38:2.38rem;
$px39:2.44rem;
$px40:2.50rem;
$px41:2.57rem;
$px42:2.63rem;
$px43:2.69rem;
$px44:2.75rem;
$px45:2.82rem;
$px46:2.88rem;
$px47:2.94rem;
$px48:3.00rem;
$px49:3.07rem;
$px50:3.13rem;
$px51:3.19rem;
$px52:3.25rem;
$px53:3.32rem;
$px54:3.38rem;
$px55:3.44rem;
$px56:3.50rem;
$px57:3.57rem;
$px58:3.63rem;
$px59:3.69rem;
$px60:3.75rem;
$px61:3.82rem;
$px62:3.88rem;
$px63:3.94rem;
$px64:4.00rem;
$px65:4.07rem;
$px66:4.13rem;
$px67:4.19rem;
$px68:4.25rem;
$px69:4.32rem;
$px70:4.38rem;
$px71:4.44rem;
$px72:4.50rem;


// 小数点以下の計算関連 ▼ここから▼
// Round (四捨五入)
@function round-decimal ($number, $digits: 0) {
	@return to-fixed($number, $digits, 'round');
}

// Ceil (切り上げ)
@function ceil-decimal ($number, $digits: 0) {
	@return to-fixed($number, $digits, 'ceil');
}

// Floor (切り捨て)
@function floor-decimal ($number, $digits: 0) {
	@return to-fixed($number, $digits, 'floor');
}

@function to-fixed ($number, $digits: 0, $round: 'round') {
  $n: 1;
  // $number must be a number
  @if meta.type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if meta.type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not math.is-unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @for $i from 1 through $digits {
    $n: $n * 10;
  }
  @if $round == 'round' {
    @return math.round($number * $n) / $n;
  } @else if $round == 'ceil' {
    @return math.ceil($number * $n) / $n;
  } @else if $round == 'floor' {
    @return math.floor($number * $n) / $n;
  } @else {
    @warn '#{ $round } is undefined keyword.';
    @return $number;
  }
}
// 小数点以下の計算関連 ▲ここまで▲

// ページの横幅
$baseWidth : 940px;

// 標準テキストカラー
$colorText : #000;

// 標準リンクカラー
$colorLink : #0c477e;
$colorLink_visited : #0c477e;
$colorLink_hover : #0c477e;

// ブレイクポイント
$bpPc : 960px;
$bpTab : 960px;
$bpSp : 767px;
$bpSpS : 374px;

// clearfix
@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
  }
  &:after {
    clear: both;
  }
}
// @include clearfix();


// レティナ対応 背景画像 mixin ここから
@mixin retinaBg() {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
         only screen and (   min--moz-device-pixel-ratio: 2),
         only screen and (     -o-min-device-pixel-ratio: 2/1),
         only screen and (        min-device-pixel-ratio: 2),
         only screen and (                min-resolution: 192dpi),
         only screen and (                min-resolution: 2dppx){
    @content;
  }
}

// レティナ対応 サイズ算出
@function retinaImg($width) {
  @return $width / 2;
}
// width: retinaImg(100px);

// サイズ vw変換
@function px-to-vw($px, $width){
  @return round-decimal(($px / $width) * 100, 2) (+vw);
}
// width: px-to-vw(100px,1400px);

// サイズ パーセント変換
@function px-to-per($px, $parent_width){
  @return round-decimal( math.percentage( $px / $parent_width ) , 2);
}
// width: px-to-per(100px,950px);

@mixin ibBox {
  letter-spacing: -1em;
  word-spacing: 0.1em;
  font-size: 0;
}

@mixin textShadow($color) {
  text-shadow: 
    $color 2px 0px,  $color -2px 0px,
    $color 0px -2px, $color 0px 2px,
    $color 2px 2px , $color -2px 2px,
    $color 2px -2px, $color -2px -2px,
    $color 1px 2px,  $color -1px 2px,
    $color 1px -2px, $color -1px -2px,
    $color 2px 1px,  $color -2px 1px,
    $color 2px -1px, $color -2px -1px;
}