@use "setting";
@use "reset";

.parts{
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  height: 50vh;
  padding-top: 20vh;
  font-size: 3vw;
}

.face{
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  //max-width: 1600px;
  height: auto;
  text-align: center;
  font-size: 0;

  .txt{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vw;
    position: absolute;
    left: 0;
    top: calc( 50% - .5em );
    color: #fff;
    width: 100%;
  }
}

.face_svg{
  width: 100%;
  height: auto;
  //transform-box: fill-box;
  position: relative;
  z-index: 1;
}


@media screen and (max-width:1399px) {

}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:767px) {
}
