@use "setting";
@use "reset";

#filters {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none
}

.unko{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

  li{
    width: 25%;
    position: relative;
    cursor: pointer;
    transition: background .3s setting.$easeOutMoment;
    overflow: hidden;

    picture{
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    img{
      width: 100%;
      height: auto;
      //filter: url(#grayscale);
      opacity: .3;
    }

/*
    &:hover{
      background: #f6f6f6;
    }
*/

    &:before{
      content: 'unko.png';
      position: absolute;
      left: 0;
      top: 0;
      font-size: 10px;
      line-height: 1;
      background: #000;
      color: #fff;
      z-index: 2;
      pointer-events: none;
    }

    &:nth-child(1){
      &:after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: 10px solid #fff;
        pointer-events: none;
        box-sizing: border-box;
      }

      img{
        filter: url(#rgbFlicker);
        opacity: 1;
      }

      &:before{
        content: 'RGBずらし';
      }
    }
    &:nth-child(2){
      img{
        filter: url(#noise);
        opacity: 1;
      }
      &:before{
        content: 'ノイズ';
      }
    }
    &:nth-child(3){
      img{
        filter: url(#duotone);
        opacity: 1;
      }
      &:before{
        content: 'ランダムトーンチェンジ';
      }
    }
    &:nth-child(4){
      img{
        filter: url(#handWriting);
        opacity: 1;
      }
      &:before{
        content: '手書き風ノイズ';
      }
    }
    &:nth-child(5){
      img{
        filter: url(#nega);
        opacity: 1;
      }
      &:before{
        content: 'ネガ反転';
      }
    }
    &:nth-child(6){
      img{
        filter: url(#morphology);
        opacity: 1;
      }
      &:before{
        content: '侵食（濃い色の拡大）＋ぼかし（縦軸）';
      }
    }
    &:nth-child(7){
      img{
        filter: url(#distantLight);
        opacity: 1;
      }
      &:before{
        content: '光源の移動';
      }
    }
    &:nth-child(8){
      img{
        filter: url(#offset);
        opacity: 1;
      }
      &:before{
        content: '手書きノイズ＋画像ずらし';
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .unko{
    li{
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px){
  .unko{
    li{
      width: 100%;
    }
  }
}