@use "../../../styles/foundation/mixin";

#loader {
  display: table;
  width: 120%;
  height: 120%;
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  left: -10%;
  top: -10%;
  z-index: 20;
}


@keyframes loader_out {
  0% { opacity: 1; left: -10%; }
  99% { opacity: 0; left: -10%; }
  100% { opacity: 0; left: -120%; }
}

html.active #loader {
  animation: loader_out 0.4s both;
}

#loader .block-loader {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#loader .block-loader .txt-loader {
  line-height: 1;
}

#loader .block-loader .txt-number {
  letter-spacing: 0.02em;
  line-height: 1;
  margin-right: 0.4rem;
}

#loader .block-loader .txt-catch {
  margin-bottom: 2.4rem;
}

#loader .block-loader .bar-loader {
  display: block;
  width: 20%;
  text-align: left;
  border-radius: 1.5px;
  background-color: #f4f2f0;
  margin: 2.4rem auto;
}

#loader .block-loader .bar-loader .bar {
  display: block;
  width: 0;
  height: 3px;
  background-color: rgba(235,92,1,1);
    transition: width 0.4s linear;
}

.block-video{
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%;
  video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.fruits{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

  li{
    width: 25%;
    
    img{
      width: 100%;
      height: auto;
    }
  }
}

@keyframes tickerImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200vw);
  }
}

.ticker{
  width: 100%;
  overflow: hidden;

  .fruits{
    animation: tickerImage 100s linear infinite;
    width: 400vw;
  
    li{
      width: 25vw;
    }
  }
}

@media screen and (max-width: 767px){
}