@charset "UTF-8";
/*============================================================
  reset
============================================================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  outline: none;
  vertical-align: middle;
}

html:not(.ios) input[type=radio] {
  background: none;
  border: none;
  border-radius: 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=submit],
input[type=button] {
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=submit],
input[type=button] {
  cursor: pointer;
}

select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  display: block;
  border: none;
  border-radius: 0;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  -ms-interpolation-mode: bicubic;
}

strong, em, b, i, small, address {
  font-weight: normal;
  font-style: normal;
}

main {
  display: block;
}

/* text */
input::-ms-clear {
  visibility: hidden;
}

/* password */
input::-ms-reveal {
  visibility: hidden;
}

/* テキストエリアのりサイズ縦のみ可 */
textarea {
  resize: vertical;
}

/*============================================================
  common
============================================================*/
/*  web font
------------------------------------------------*/
@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/NotoSansCJKjp-Regular.woff2") format("woff2"), url("fonts/NotoSansCJKjp-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: 700;
  font-style: bold;
  src: url("fonts/NotoSansCJKjp-Bold.woff2") format("woff2"), url("fonts/NotoSansCJKjp-Bold.woff") format("woff");
  font-display: swap;
}
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}
html.ios {
  height: 100vh;
}

body {
  color: #000000;
  width: 100%;
  height: 100%;
  line-height: 1.6;
  text-align: center;
  font-size: 1.6rem;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
body.fixed {
  position: fixed;
  overflow-y: hidden;
}
body.absolute {
  position: absolute;
}

/*  a
------------------------------------------------*/
a {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  color: #0c477e;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a[href^=tel] {
  color: inherit;
}

.disableTel a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
  pointer-events: none;
}

.hover:hover {
  opacity: 1;
}

@media (min-width: 960px) {
  .hover {
    transition: opacity 0.3s;
  }
  .hover:hover {
    opacity: 0.7;
  }
}
.txtLink {
  position: relative;
  padding-left: 14px;
  background: url(/images/ico_ar_b.svg) no-repeat 5px 0.5em;
  background-size: 5px auto;
}
.txtLink.-r {
  background: url(/images/ico_ar_r.svg) no-repeat 5px 0.7em;
  background-size: 5px auto;
}
.txtLink.-blank {
  margin-right: 4px;
  padding-right: 12px;
  background: url(/images/ico_ar_b.svg) no-repeat 5px 0.5em, url(/images/ico_blank_b.svg) no-repeat right 0.45em;
  background-size: 5px auto, 10px;
}

/*  img
------------------------------------------------*/
.imgOuter {
  font-size: 0;
  line-height: 0;
}

img {
  width: 100%;
  height: auto;
}

/*  loader
------------------------------------------------*/
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  width: 120%;
  height: 120%;
  background: #f0f0f0;
  background: #f0f0f0;
  position: fixed;
  left: -10%;
  top: -10%;
  z-index: 11;
}

.loader.fo {
  animation: 0.3s cubic-bezier(0.15, 0.29, 0.62, 0.99) both;
  animation-name: fade_out;
}

.loader.hdn:before {
  animation: none;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.loader:before {
  content: "";
  animation: rotate 0.8s linear infinite;
  background: transparent;
  border: 2px solid #000;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 26px;
  left: 50%;
  margin: -13px 0 0 -13px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 26px;
}

@media (min-width: 960px) {
  .loader:before {
    border: 4px solid #000;
    border-bottom-color: #fff;
    height: 50px;
    margin: -25px 0 0 -25px;
    width: 50px;
  }
}
/*  iOSホームバー
------------------------------------------------*/
.js-homebar.active {
  position: relative;
}

.js-homebar.active:after {
  content: "";
  width: 100%;
  height: 20px;
  position: relative;
  display: block;
  opacity: 0;
}

/*  アコーディオン
------------------------------------------------*/
.js-accorBtn {
  cursor: pointer;
  position: relative;
}
.js-accorBtn.open .accorIco {
  /*
        transform: rotateZ(45deg);

        &:before{
          transform: rotateZ(-45deg);
        }
  */
}
.js-accorBtn.open .accorIco:after {
  transform: rotateZ(90deg);
}

.js-accorArea {
  height: 0;
}
.js-accorArea.open .inner {
  opacity: 1;
}
.js-accorArea .inner {
  opacity: 0;
  transition: opacity 0.1s;
}

.accorIco {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 15px;
  top: calc(50% - 6px);
  transition: transform 0.2s;
}
.accorIco:before {
  content: "";
  width: 12px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  transition: transform 0.2s;
}
.accorIco:after {
  content: "";
  width: 2px;
  height: 12px;
  background: #000;
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  transition: transform 0.2s;
}

/*  br
------------------------------------------------*/
br.pc {
  display: inline !important;
}

br.pcTab {
  display: inline !important;
}

br.tabSp {
  display: none !important;
}

br.sp {
  display: none !important;
}

br.spS {
  display: none !important;
}

@media screen and (max-width: 960px) {
  br.pc {
    display: none !important;
  }
  br.pcTab {
    display: inline !important;
  }
  br.tabSp {
    display: inline !important;
  }
  br.sp {
    display: none !important;
  }
  br.spS {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  br.pc {
    display: none !important;
  }
  br.pcTab {
    display: none !important;
  }
  br.tabSp {
    display: inline !important;
  }
  br.sp {
    display: inline !important;
  }
  br.spS {
    display: none !important;
  }
}
@media screen and (max-width: 374px) {
  br.spS {
    display: inline !important;
  }
}
/*  hidden
------------------------------------------------*/
.hdn {
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}

/*  text
------------------------------------------------*/
.txt.-bold,
.txt .bold {
  font-weight: bold;
}
.txt.-center {
  text-align: center;
}
.txt.-left {
  text-align: left;
}
.txt.-right {
  text-align: right;
}
.txt strong,
.txt em,
.txt span,
.txt b,
.txt sup {
  color: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

/*============================================================
  modal
============================================================*/
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide_in_bg {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide_in_bg_ie {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide_out_bg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
@keyframes slide_out_bg_ie {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100rem);
  }
}
@keyframes slide_in_contents {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes zoom_out_contents {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes zoom_in_btn {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#modal_bg.active.in {
  animation: 0.3s cubic-bezier(0.15, 0.29, 0.62, 0.99) both;
  animation-name: fade_in, slide_in_bg;
}

.ie11 #modal_bg.active.in,
.ie10 #modal_bg.active.in {
  animation: 0.3s cubic-bezier(0.15, 0.29, 0.62, 0.99) both;
  animation-name: fade_in, slide_in_bg_ie;
}

#modal_bg.active.out {
  animation: 0.3s cubic-bezier(0.15, 0.29, 0.62, 0.99) both;
  animation-name: fade_out, slide_out_bg;
}

.ie11 #modal_bg.active.out,
.ie10 #modal_bg.active.out {
  animation: 0.3s cubic-bezier(0.15, 0.29, 0.62, 0.99) both;
  animation-name: fade_out, slide_out_bg_ie;
}

#modal_close.active.in {
  opacity: 1;
  transform: scale(1);
}
#modal_close.active.in:hover {
  opacity: 0.7;
}

#modal_close.active.out {
  opacity: 0;
}

.modal_contents.active.in {
  animation: 0.3s cubic-bezier(0.15, 0.29, 0.62, 0.99) both;
  animation-name: fade_in, slide_in_contents;
}

.modal_contents.active.out {
  animation: 0.3s cubic-bezier(0.15, 0.29, 0.62, 0.99) both;
  animation-name: fade_out, zoom_out_contents;
}

.modal_contents {
  display: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #666666;
  position: fixed;
  z-index: 2;
}
.modal_contents iframe {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.modal_contents.active {
  display: block;
}

#modal_close {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 10px;
  top: 10px;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  transform: scale(1.2);
  transition: opacity cubic-bezier(0.15, 0.29, 0.62, 0.99) 0.3s, transform cubic-bezier(0.15, 0.29, 0.62, 0.99) 0.3s;
}
#modal_close:hover {
  opacity: 0.7;
}
#modal_close:before {
  content: "";
  width: 40px;
  height: 2px;
  border-radius: 2px;
  transform: rotateZ(45deg);
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 1px);
  background: #fff;
}
#modal_close:after {
  content: "";
  width: 40px;
  height: 2px;
  border-radius: 2px;
  transform: rotateZ(-45deg);
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 1px);
  background: #fff;
}

#modal_bg {
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#modal_bg:before {
  content: "";
  animation: rotate 0.8s linear infinite;
  background: transparent;
  border: 4px solid #222222;
  border-bottom-color: #616161;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  padding: 0;
  position: absolute;
  top: 40%;
  width: 50px;
}

#modal_loading {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 42%;
  margin: -25px 0 0 -25px;
  display: none;
}
#modal_loading img {
  width: 100%;
  height: auto;
  display: block;
}

.modal_yt {
  background-color: #000000;
}

#player1,
#player2,
#player3,
#player4,
#player5 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.modal_img img {
  width: 100%;
  height: auto;
}

.modal_grp img,
.modal_grp iframe {
  position: relative;
  display: none;
  width: 100%;
  height: auto;
}
.modal_grp .show {
  display: block;
}

.modal_ar {
  display: none;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 35%;
  z-index: 3;
  background: url(../images/blank.gif) repeat left top;
}
.modal_ar .ar {
  width: 46px;
  height: 46px;
  position: absolute;
  margin-top: -23px;
  opacity: 0;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.modal_ar.show {
  display: block;
}

.modal_ar_prev {
  left: 0;
  top: 0;
}
.modal_ar_prev .ar {
  background: url(../images/modal_ar_prev.png) no-repeat left top;
  background-size: 46px;
  left: 20px;
  top: 50%;
}

.modal_ar_prev:hover .ar {
  opacity: 1;
}

.modal_ar_next {
  right: 0;
  top: 0;
}
.modal_ar_next .ar {
  background: url(../images/modal_ar_next.png) no-repeat left top;
  background-size: 46px;
  right: 20px;
  top: 50%;
}

.modal_ar_next:hover .ar {
  opacity: 1;
}

.modal_grp_num {
  position: absolute;
  right: 0;
  bottom: -30px;
  color: #ffffff;
  font-size: 1rem;
}

.modal_1 {
  max-width: 619px;
  width: 95%;
  height: auto;
}

.modal_5-1,
.modal_6-1,
.modal_7-1 {
  max-width: 800px;
  width: 95%;
  height: auto;
}

.modal_5-2,
.modal_6-2 {
  max-width: 600px;
  width: 95%;
  height: auto;
}

.modal_5-3,
.modal_6-3 {
  max-width: 900px;
  width: 95%;
  height: auto;
}

.modal_2 {
  width: 800px;
  height: 400px;
  overflow-y: scroll;
}

.modal_3 {
  width: 800px;
  height: 600px;
}

@media screen and (max-width: 980px) {
  #modal_bg:before {
    border-width: 2px;
    height: 26px;
    margin: -13px 0 0 -13px;
    width: 26px;
  }
  #modal_close:hover {
    opacity: 1;
  }
  .modal_ar {
    display: none;
  }
  .modal_ar .ar {
    width: 23px;
    height: 23px;
    position: absolute;
    margin-top: -11px;
    opacity: 0.7;
  }
  .modal_ar_prev .ar {
    background: url(../images/modal_ar_prev.png) no-repeat left top;
    background-size: 23px;
    left: 10px;
    top: 50%;
  }
  .modal_ar_prev:hover .ar {
    opacity: 0.7;
  }
  .modal_ar_next .ar {
    background: url(../images/modal_ar_next.png) no-repeat left top;
    background-size: 23px;
    right: 10px;
    top: 50%;
  }
  .modal_ar_next:hover .ar {
    opacity: 0.7;
  }
}
@media screen and (max-width: 767px) {
  #modal_close {
    background-size: 40px;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
  }
  #modal_close:before {
    width: 20px;
    left: calc(50% - 10px);
  }
  #modal_close:after {
    width: 20px;
    left: calc(50% - 10px);
  }
  .modal_2 {
    width: 95%;
    height: 60%;
    overflow-y: scroll;
  }
  .modal_3 {
    width: 95%;
    height: 60%;
  }
}
#loader {
  display: table;
  width: 120%;
  height: 120%;
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  left: -10%;
  top: -10%;
  z-index: 20;
}

@keyframes loader_out {
  0% {
    opacity: 1;
    left: -10%;
  }
  99% {
    opacity: 0;
    left: -10%;
  }
  100% {
    opacity: 0;
    left: -120%;
  }
}
html.active #loader {
  animation: loader_out 0.4s both;
}

#loader .block-loader {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#loader .block-loader .txt-loader {
  line-height: 1;
}

#loader .block-loader .txt-number {
  letter-spacing: 0.02em;
  line-height: 1;
  margin-right: 0.4rem;
}

#loader .block-loader .txt-catch {
  margin-bottom: 2.4rem;
}

#loader .block-loader .bar-loader {
  display: block;
  width: 20%;
  text-align: left;
  border-radius: 1.5px;
  background-color: #f4f2f0;
  margin: 2.4rem auto;
}

#loader .block-loader .bar-loader .bar {
  display: block;
  width: 0;
  height: 3px;
  background-color: rgb(235, 92, 1);
  transition: width 0.4s linear;
}

.block-video {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%;
}
.block-video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.fruits {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}
.fruits li {
  width: 25%;
}
.fruits li img {
  width: 100%;
  height: auto;
}

.svg_hotel01 {
  width: 100px;
  height: auto;
}
.svg_hotel01 svg {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.svg_hotel01 .wall {
  fill: none;
  stroke: #000000;
  stroke-dasharray: 200;
  stroke-dashoffset: -200;
  transition: stroke-dashoffset ease-out 1s;
}
.svg_hotel01 .window {
  fill: #ff0000;
}

.svg_hotel01:hover .wall {
  stroke-dashoffset: 0;
}

.twitter {
  width: 100px;
}

.svgImage {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 46.33%;
}
.svgImage svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.svgImage image {
  width: 100%;
  height: 100%;
}

.cm {
  background: #262626;
  padding: 100px 0;
}

.cm_head {
  font-size: 2rem;
  line-height: 1;
  color: #fff;
}

.cm_lists {
  max-width: 940px;
  width: 94%;
  margin: 40px auto 0;
}

.cm_gallery {
  width: 32%;
}

.cm_gallery_thumb {
  display: block;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background: #262626;
}
.cm_gallery_thumb:hover > .cm_gallery_ico {
  transform: scale(1.2);
}
.cm_gallery_thumb:hover > .cm_gallery_bg {
  transform: scale(1.05);
  opacity: 0.6;
}

.cm_gallery_ico {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  transition: transform ease-out 0.2s;
}

.cm_gallery_bg {
  position: relative;
  transition: transform ease-out 0.2s, opacity ease-out 0.2s;
}

.cm_gallery_cap {
  font-size: 0.63rem;
  line-height: 1.4;
  color: #fff;
  margin-top: 5px;
}
.cm_gallery_cap .cat {
  display: inline-block;
  vertical-align: top;
  font-size: 0.63rem;
  line-height: 1;
  letter-spacing: 0;
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
  padding: 2px 4px;
}
.cm_gallery_cap .cat.-tv {
  background: #cfa200;
}
.cm_gallery_cap .cat.-web {
  background: #dc6800;
}
.cm_gallery_cap .cat.-radio {
  background: #7ea000;
}
.cm_gallery_cap .txt {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 0.63rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.slick-slide {
  margin: 0 10px;
}

@media screen and (max-width: 767px) {
  .slick-slide {
    margin: 0 5px;
  }
}
.prev-arrow-cm {
  width: 11px;
  height: auto;
  transform: rotateZ(180deg);
  position: absolute;
  left: -20px;
  top: calc(50% - 25px);
  cursor: pointer;
}

.next-arrow-cm {
  width: 11px;
  height: auto;
  position: absolute;
  right: -20px;
  top: calc(50% - 25px);
  cursor: pointer;
}