<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.6,user-scalable=yes">
<meta name="format-detection" content="telephone=no">
<link href="styles/template.css" rel="stylesheet">
<title>氷点下のスーパードライを楽しもう！写真投稿キャンペーン｜アサヒビール</title>
<meta name="robots" content="noindex,nofollow">
</head>
<body class="iframe">
  <div class="wrap util">
    <div class="inner pb40">
      <h1 class="head03 mt20 mb20">応募要項</h1>
      <dl class="column">
        <dt>
          <p class="head01 mb10">キャンペーン名</p></dt>
        <dd>
          <p class="fsize14">ダミーテキストダミーテキストダミーテキスト</p>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">キャンペーン応募期間</p>
        </dt>
        <dd>
          <p class="fsize14">ダミーテキストダミーテキストダミーテキスト</p>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">対象商品</p>
        </dt>
        <dd>
          <p class="fsize14">ダミーテキストダミーテキストダミーテキスト</p>
          <ul class="list -notes fsize12 mt10">
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
          </ul>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">賞品</p>
        </dt>
        <dd>
          <p class="fsize14">ダミーテキストダミーテキストダミーテキスト</p>
          <ul class="list -notes fsize12">
            <li>ダミーテキストダミーテキストダミーテキスト</li>
          </ul>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">応募条件</p>
        </dt>
        <dd>
          <ul class="list fsize14">
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
          </ul>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">応募資格</p>
        </dt>
        <dd>
          <p class="fsize14">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">応募方法</p>
        </dt>
        <dd>
          <p class="fsize14">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
          <ul class="list -notes fsize12 mt10">
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
          </ul>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">当選発表</p>
        </dt>
        <dd>
          <p class="fsize14">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
          <ul class="list -notes fsize12 mt10">
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
          </ul>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">賞品発送</p>
        </dt>
        <dd>
          <p class="fsize14">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
          <ul class="list -notes fsize12 mt10">
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
          </ul>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">その他の注意事項</p>
        </dt>
        <dd>
          <ul class="list fsize14">
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
            <li>ダミーテキストダミーテキストダミーテキスト</li>
          </ul>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">推奨環境</p>
        </dt>
        <dd>
          <p class="fsize14">推奨環境の端末でご応募いただけます。ただしスマートフォンのOSバージョンや機種特有の問題により、一部の端末では正常に動作しない場合や、ご対応できない場合もございます。</p>
          <ul class="list fsize14 mt10">
            <li>iOS版：最新バージョン</li>
            <li>Android版：最新バージョン</li>
          </ul>
          <ul class="list -notes fsize12 mt10">
            <li>パソコンのブラウザではご利用できません。</li>
            <li>OSのバージョンアップ方法などにつきましては、各端末メーカー、または携帯電話会社へお問い合わせください。</li>
            <li>詳しくはLINE社の推奨環境をご確認ください。</li>
          </ul>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">賠償責任</p>
        </dt>
        <dd>
          <p class="fsize14">本サイトのご利用に関連して利用者と第三者との間に紛争が発生した場合には、利用者は、自身の責任と費用で当該紛争を解決するものとし、当社に損害を与えることのないようにするものとします。</p>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">免責事項</p>
        </dt>
        <dd>
          <p class="fsize14">本サイトのご利用に関連して利用者または第三者に損害が発生した場合、当社は一切の責任を負いかねます。また、本応募要項に違反していると当社が判断した場合に限り、アカウントのブロック、当選の取り消し等の必要な措置を取ることができるものとし、これに関連して利用者に損害が発生した場合についても当社は責任を負わないものとします。</p>
        </dd>
      </dl>
      <dl class="column">
        <dt>
          <p class="head01 mb10">準拠法及び裁判管轄</p>
        </dt>
        <dd>
          <p class="fsize14">本応募要項の解釈・適用に関しましては、日本国法に準拠するものといたします。また、本キャンペーンに関する紛争については、東京地方裁判所を第一審の専属管轄裁判所とします。</p>
        </dd>
      </dl>

      <a class="btn -sizeS -sub -close mt40 js-modalClose" href=""><span class="fsize18 bold">閉じる</span></a>
    </div><!-- /.inner -->
  </div><!-- /.container -->

</body>
</html>