<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.6,user-scalable=yes">
<meta name="format-detection" content="telephone=no">
<link href="/styles/base.css" rel="stylesheet" type="text/css">
<title></title>
<meta name="robots" content="noindex,nofollow">
</head>
<body class="iframe">
  <div class="wrap util">
    <div class="inner pb40">
      <h1 class="head03 mt20 mb20">お問い合わせ</h1>
      <p class="fsize16 bold">「〇〇〇〇〇〇〇〇〇〇」事務局</p>
      <section class="block left mt20">
        <p class="tel js-telCall rem" x-ms-format-detection="none">03-0000-0000</p>
        <h2 class="head02 left"><span class="fsize12">メールアドレス：</span><span class="rem">abc＠defghijk.com</span></h2>
        <p class="fsize12 left">対応時間：9：00～18：00（土・日・祝日を除く）</p>
        <ul class="list -notes fsize10 mt10">
          <li>お電話での問い合わせは受け付けておりません。</li>
          <li>メールの受信は24時間受け付けておりますが、ご返答にはお時間をいただいております。ご了承ください。</li>
          <li>メールアドレスは、お間違いのないようにご注意ください。</li>
        </ul>
      </section>
      <a class="btn -sizeS -sub -close mt40 js-modalClose" href=""><span class="fsize18 bold">閉じる</span></a>
    </div><!-- /.inner -->
  </div><!-- /.container -->
</body>
</html>