@use "../../../styles/foundation/mixin";

.parts{
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  height: 50vh;
  padding-top: 20vh;
  font-size: 3vw;
}

.movCol{
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  //max-width: 1600px;
  height: auto;
  text-align: center;
  font-size: 0;
  width: 100%;
  height: 0;
  padding-top: 56.25%;

  .txt{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vw;
    position: absolute;
    left: 0;
    top: calc( 50% - .5em );
    color: #fff;
    width: 100%;
  }
}

.mov{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


@media screen and (max-width:1399px) {

}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:767px) {
}
