@use "../../../styles/foundation/mixin";

.map_outer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.map{
  width: 300px;
  height: 300px;

  iframe{
    width: 100%;
    height: 100%;

.leaflet-left{
  display: none !important;
}
  }
}

@media screen and (max-width:1399px) {

}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:767px) {
}
