@charset "UTF-8";
/* Sine（最も弱い） */
/* Quad（弱め。Sineより強く、Cubicより弱い） */
/* Cubic（Quadより強く、Quartより弱い） */
/* Quart（Cubicより強く、Quintより弱い） */
/* Quint（Quartより強く、Expoより弱い） */
/* Expo（最も強い） */
/* Circ（Expoのような強さを持つが、加速や減速の時間がよりゆるやか。） */
/* Back（少し行き過ぎてから戻ってくるような動き） */
/* 最初かなり強く最後かなり弱く（動画サムネなど） */
/* 真ん中ゆっくり */
/* 真ん中はやく */
/* ぼよんぼよんする動き */
/*============================================================
  reset
============================================================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  outline: none;
  vertical-align: middle;
}

html:not(.ios) input[type=radio] {
  background: none;
  border: none;
  border-radius: 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=submit],
input[type=button] {
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=submit],
input[type=button] {
  cursor: pointer;
}

select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  display: block;
  border: none;
  border-radius: 0;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  -ms-interpolation-mode: bicubic;
}

strong, em, b, i, small, address {
  font-weight: normal;
  font-style: normal;
}

main {
  display: block;
}

/* text */
input::-ms-clear {
  visibility: hidden;
}

/* password */
input::-ms-reveal {
  visibility: hidden;
}

/* テキストエリアのりサイズ縦のみ可 */
textarea {
  resize: vertical;
}

/*============================================================
  common
============================================================*/
@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/NotoSansCJKjp-Regular.woff") format("woff"), url("fonts/NotoSansCJKjp-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: 700;
  font-style: bold;
  src: url("fonts/NotoSansCJKjp-Bold.woff") format("woff"), url("fonts/NotoSansCJKjp-Bold.eot") format("eot");
  font-display: swap;
}
html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}
@media (min-width: 1400px) {
  html {
    font-size: 1.1428571429vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 2.0860495437vw;
  }
}

body {
  color: #000000;
  width: 100%;
  height: 100%;
  line-height: 1.6;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
body.fixed {
  position: fixed;
}
body.absolute {
  position: absolute;
}

.sec {
  width: 100%;
  height: 400px;
  position: relative;
}
.sec.-sec1 {
  height: auto;
  padding: 50vw 0;
}
.sec.-sec1 > p {
  font-size: 2rem;
  display: block;
  margin-top: 200px;
}
.sec.-sec2, .sec.-sec3, .sec.-sec4 {
  height: 500px;
  position: relative;
  overflow: hidden;
}
.sec.-sec3 > div {
  position: absolute;
  left: 0;
  top: -250px;
  width: 100%;
  height: 1000px;
  background: url(/images/webp/dummy15.webp) no-repeat left top;
  background-size: cover;
}
.sec.-sec5 {
  height: auto;
  width: 100%;
  padding: 50vw 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.sec.-sec5 > div {
  width: 30vw;
  height: 20vh;
  background: #ffd0d0;
}
.sec.-sec5 > div:nth-of-type(2n) {
  background: #efefef;
}
.sec.-sec6 {
  height: 50vh;
}
.sec.-sec7, .sec.-sec8, .sec.-sec9, .sec.-sec10, .sec.-sec11 {
  height: 50vh;
  background: #efefef;
}

.obj {
  display: block;
  position: absolute;
  background: #d3d3d3;
  width: 100px;
  height: 100px;
  left: 0;
  top: 0;
}
.obj.-obj1, .obj.-obj3 {
  left: auto;
  right: 0;
}